body{
    background-color: hsla(240, 25%, 36%, 0.801);
}

.main_grid,.grid_row,.row_cell{
    display: flex;
    border-style: solid;
    border-width: 0.2px;
}

.main_grid{
    flex-direction: column;
    margin: auto;
    width: 1400px; 
    height: 700px;
}

.grid_row,.row_cell{
    flex: 1 0 0;
}

.row_cell{
    display: block;
    background-color: white;
    transition: background-color 0.2s;
}

.buttons{
    margin: 20px;
    display:flex;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
}

.button{
    flex: 0 0 auto;
    text-align: center;
    color: white;    
    background-color: black;
    padding: 25px 20px;
    font-size: 20px;
    transition: transform 0.2s;
}

.button:hover{
    transform: scale(1.2);
    transition: transform 0.2s;
}


.path{
    background-color:rgb(97, 240, 221);
    transition: background-color 0.2s;
}

.start_node{
    background-color: crimson;
}

.end_node{
    background-color: darkblue
}

.searching{
    background-color: rgb(32, 134, 165);
}

.blocked{
    background-color: hsl(0, 0%, 25%);
    transition: background-color 0.05s;
}

.message_panel{
    color: white;
    height: 50px;
    width: 1360px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    background-color: hsla(240, 25%, 30%, 0.801);;
}

#compare-table{
    color: white;
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(64, 61, 61);
    width: 500px;
    text-align: center;
}

#compare-table td, #compare-table th{
    padding: 10px 20px;
}

#compare-table tr:hover{
    background-color: black;
}

#compare-table th{
    font-size: 20px;
}