body{
    background-color: hsla(240, 25%, 36%, 0.801);
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.left_container{
    flex: 0 0 1400px;
    align-self: center;
}

.main_grid,.grid_row,.row_cell{
    display: flex;
    border-style: solid;
    border-width: 0.2px;
}

.main_grid{
    flex-direction: column;
    width: 1400px; 
    height: 800px;
}

.grid_row,.row_cell{
    flex: 1 0 0;
}

.row_cell{
    display: block;
    background-color: white;
    transition: background-color 0.2s;
}
.right_container{
    margin-top: 15px;
    flex: 0 0 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    flex: 0 0 auto;
    width: 490px;
    display: flex;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
}

.button{
    box-sizing: border-box;
    padding: 20px; 
    flex: 0 0 163px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;    
    background-color: black;
    font-size: 17px;
    transition: transform 0.2s;
    border-color: hsla(240, 25%, 30%, 0.801);
    border-style: ridge;
}

.button:hover{
    transform: scale(1.2);
    transition: transform 0.2s;
}


.path{
    background-color:rgb(97, 240, 221);
    transition: background-color 0.2s;
}

.start_node{
    background-color: crimson;
}

.end_node{
    background-color: darkblue
}

.searching{
    background-color: rgb(32, 134, 165);
}

.blocked{
    background-color: hsl(0, 0%, 25%);
    transition: background-color 0.05s;
}

.message_panel{
    color: white;
    height: 50px;
    width: 1360px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    background-color: hsla(240, 25%, 30%, 0.801);
}

#compare-table{
    margin-top: 20px;
    color: white;
    background-color: rgb(64, 61, 61);
    width: 450px;
    text-align: center;
}

#compare-table td, #compare-table th{
    padding: 10px 20px;
}

#compare-table tbody tr:hover{
    background-color: black;
}

#compare-table th{
    font-size: 20px;
}