body{
    background-color: hsla(240, 25%, 36%, 0.801);
}

.main_grid,.grid_row,.row_cell{
    display: flex;
    border-style: solid;
    border-width: 0.2px;
}

.main_grid{
    flex-direction: column;
    margin: auto;
    width: 1600px; 
    height: 800px;
}

.grid_row,.row_cell{
    flex: 1 0 0;
}

.row_cell{
    display: block;
    background-color: white;
    transition: background-color 0.1s;
}

.buttons{
    list-style-type: none;
    white-space: nowrap;
    text-align: center;
}

.button{
    display: inline-block;
    text-align: center;
    width: 200px;
    color: white;
    background-color: black;
    padding: 20px 0;
    font-size: 20px;
}

.button:hover{
    transform: scale(1.2);
    transition: transform 0.2s;
}